{% load staticfiles %}
{% include 'grocerymeals_app/base.html' %}
  <title>GroceryMeals - Password Reset Complete</title>
  <link rel="stylesheet" href="{% static 'registration/password-reset-views.css' %}">
{% block body %}
  <div class="container text-center text-white m-auto" style="width: 35%;">
    <h2 class="header-secondary f-50 mb-5">Password Reset Complete!</h2>
    <p class="mb-4">
      Your password has been successfully reset. You may go ahead and login now.
    </p>

    <a href="/login/" class="btn btn-outline-light btn-lg">Login Here</a>
  </div>
{% endblock %}
