{% load staticfiles %}
{% include 'grocerymeals_app/base.html' %}
  <title>GroceryMeals - Email Confirmation</title>
  <link rel="stylesheet" href="{% static 'registration/password-reset-views.css' %}">
{% block body %}
  <div class="text-center text-white w-50 m-auto">
    <h2 class="header-secondary f-50 mb-5">Email Confirmation</h2>
    <p>
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
    </p>
    <p>
      If you don't receive an email, please make sure you've entered the address you registered with,
      and check your spam folder.
    </p>
  </div>
{% endblock %}
