{% load staticfiles %}
{% include 'grocerymeals_app/base.html' %}
  <title>GroceryMeals - Change Password</title>
  <link rel="stylesheet" href="{% static 'registration/password-reset-views.css' %}">
{% block body %}
  <div class="container text-center text-white m-auto" style="width: 35%;">
    {% if validlink %}
      <h2 class="header-secondary mb-5 f-50">Change password</h2>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-outline-light btn-block" value="Change Password">
      </form>
    {% else %}
      <h2 class="mb-4">Invalid Link</h2>
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    {% endif %}
  </div>

  <script>
    document.querySelector("label[for='id_new_password1']").style.display = "none"
    document.querySelector("label[for='id_new_password2']").style.display = "none"

    document.querySelector("#id_new_password1").className = "form-control mb-4"
    document.querySelector("#id_new_password1").placeholder = "New Password"

    document.querySelector("#id_new_password2").className = "form-control mb-4"
    document.querySelector("#id_new_password2").placeholder = "Confirm Password"
  </script>
{% endblock %}
