:root {
  --color-primary: #7ed56f;
  --color-secondary: #55c57a;
  --color-tertiary: #28b485;
  --color-grey: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

body {
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary));
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;

  overflow-x: hidden;
}

/* CONTAINER STYLES */
.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cta-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  text-align: center;
}


/* BUTTON STYLES */
.ghost-cta-button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  padding: 15px;
  color: white;
  transition: all .2s;
  font-size: 20px;
}

.ghost-cta-button:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.ghost-cta-button:active {
  outline: none;
}

.primary-cta-button {
  background-color: var(--color-primary);
  padding: 15px;
  color: white;
  border-radius: 4px;
  transition: all .2s;
  font-size: 20px;
}

.primary-cta-button:hover {
  background-color: var(--color-secondary);
  color: white;
  text-decoration: none;
}

.primary-cta-button:active {
  outline: none;
}

/* NAVBAR STYLES */
.nav-logo {
  height: 60px;
}

.fixed-top.scrolled {
  background-color: white !important;
  transition: all 200ms linear;
}

.scrolled * {
  /* color: white !important; */
}

.navbar-fixed-top.scrolled .nav-link {
  color:#555;
}

.separator-right {
  border-right: 2px solid rgba(255,255,255,.5);
}

.separator-right-dark {
  border-right: 2px solid rgba(0,0,0,.5);
}

.prompt-item {
  display: flex;
  align-items: center;
}

.prompt-item:hover {
  cursor: default;
}

.prompt-item > * {
  color: rgba(255,255,255,.5);
}

.prompt-item > *:hover {
  color: rgba(255,255,255,.5);
}

.prompt-item-dark > * {
  color: rgba(0,0,0,.5) !important;
}

.shopping-list {
  height: 30px;
  content: url("/static/img/icons/list-light.png");
}

.shopping-list-dark {
  content: url("/static/img/icons/list-dark.png") !important;
}


/* DROPDOWN MENU */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 25px;
}

.dropdown-content * {
  color: black;
}

.dropdown:hover .dropdown-content {display: block;}

.user-link {
  font-weight: bold;
  color: black;
}

.user-link:hover {
  color: black;
  text-decoration: underline;
}

.dropdown-separator {
  display: block;
  width: 100%;
  padding: 30px 0;
  text-decoration: line-through;
}

.shopping-list-nav-item {
  position: relative;
  display: inline-block;
}

.item-number-badge {
  position: absolute;
  top: 60%;
  left: 55%;
  background-color: red;
  display: block;
  height: 20px;
  width: 20px;
  font-size: 13px;
  /* line-height: 60px; */

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  color: white;
  text-align: center;
}

/* FONT SIZES */
.f-65 {
  font-size: 65px;
}

.f-50 {
  font-size: 50px;
}

.f-20 {
  font-size: 20px;
}


/* HEADERS */
.header-primary {
  font-weight: bold;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
}

.header-secondary {
  font-weight: bold;
  text-align: center;
  color: white;
}
