/* HEADER SECTION */
.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.65), rgba(85, 198, 122, 0.65)), url("https://cdn.pixabay.com/photo/2017/03/05/20/08/grocery-store-2119702__480.jpg");
  background-size: cover;
}


/* ABOUT SECTION */
.about {
  background-color: var(--color-grey);
  padding: 50px;
}

.about-main-description, .about-card-description {
  color: #777;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 30px;
  margin: 50px 0;
}

.about-card {
  padding: 30px;
  text-align: center;
}

.about-card-icon {
  width: 50px;
  margin-bottom: 15px;
}


/* STORES WE USE SECTION */
.stores {
  background-color: var(--color-grey);
}

.stores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  justify-items: center;
  padding: 30px;
}


/* SOCIAL MEDIA */
.social-media {
  padding: 30px;
}

.social-media-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-items: center;
  align-items: center;
}

.social-media-icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  grid-gap: 10px;
}

.social-media-icon {
  width: 100%;
  transition: all .5s;
  transition-timing-function: cubic-bezier(.49,.04,.32,.97);
}

.social-media-icon:hover {
  transform: rotate(360deg);
}

.social-media-link:hover {
  text-decoration: none;
}


/* FOOTER */
.footer {
  background-color: #333;
  padding: 30px;
}

.footer * {
  color: #ccc;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 100px;
  justify-items: center;
}

.footer-header {
  font-size: 20px;
  color: white;
}

.footer-item {
  list-style: none;
}

.footer-link:hover {
  color: #eee;
}

.contact-link {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 5px;
  margin-bottom: 15px;
}

.contact-icon {
  width: 40px;
}

.contact-info {
  display: flex;
  align-items: center;
}
