body {
  min-height: 100vh;
}

.product {
  background-color: transparent;
  border: 3px solid white;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-gap: 30px;
  align-items: center;
  color: white;

  position: relative;
}

.x {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 50px;
  border: none;
  background-color: transparent;
  color: white;
  transition: all .1s;
}

.x:hover {
  color: #eee;
  text-decoration: none;
}
