{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'grocerymeals_app/queries.css' %}">
    <link rel="stylesheet" href="{% static 'grocerymeals_app/base.css' %}">
    <link rel="icon" href="{% static 'img/logos/cut-grocerymeals.png'%}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152952409-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-152952409-3');
    </script>

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
              <img class="nav-logo" src="{% static 'img/logos/nav-grocerymeals.png' %}" alt="GroceryMeals Logo">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-target">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/contact-us/">Contact Us</a>
                  </li>
                  {% if testing %}
                    <li class="nav-item">
                        <a class="nav-link" href="/feedback/">Feedback</a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                      <a class="nav-link" href="/products/">Products</a>
                  </li>
                  <li class="nav-item pr-3 separator-right">
                      <a class="nav-link" href="/recipes/">Recipes</a>
                  </li>
                  {% if request.user.is_authenticated %}
                    <li class="nav-item pl-3 prompt-item">
                      <div class="dropdown">
                        <!-- <button class="dropbtn">Dropdown</button> -->
                        <span>Welcome, {{request.user.username}}</span>
                        <div class="dropdown-content">
                          <div class="pb-3" style="border-bottom: 1px solid rgba(0,0,0,.5);">
                            <span class="f-20">{{request.user.first_name}} {{request.user.last_name}}</span>
                            <span>{{request.user.email}}</span>
                          </div>
                          <div class="pt-3" style="border-top: 1px solid rgba(0,0,0,.5);">
                            <a class="user-link pt-3" href="/shopping-list/">View Shopping List ({{number_of_shopping_list_items}})</a>
                            <br>
                            <a class="user-link" href="/logout/">Logout</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a href="/shopping-list/" class="nav-link">
                        <div class="shopping-list-nav-item">
                          <img class="shopping-list pl-2" src="{% static 'img/icons/list-light.png'%}" alt="Shopping List Icon">
                          <span class="item-number-badge">{{number_of_shopping_list_items}}</span>
                        </div>
                      </a>
                    </li>
                  {% else %}
                    <li class="nav-item pl-3 prompt-item">
                      <a class="mr-2" href="/login/">Log in</a> <span class="mr-2">OR</span> <a href="/register/" class="btn btn-secondary" style="color: white !important;">Register</a>
                    </li>
                  {% endif %}
              </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info alert-dismissible mb-0 text-left fixed-top" style="z-index: 1040;">
          <button class="close" type="button" data-dismiss="alert">
              <span>&times;</span>
          </button>
          <strong>{{ message|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}
    {% if not index %}
      <div class="py-5">
    {% endif %}
      {% block body %}

      {% endblock %}
    {% if not index %}
      </div>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <script>
      $(function () {
        $(document).scroll(function () {
      	  var $nav = $(".fixed-top");
      	  $nav.toggleClass('scrolled navbar-light', $(this).scrollTop() > $nav.height());
          $nav.toggleClass('navbar-dark', $(this).scrollTop() < $nav.height())

          var $separatorRight = $(".separator-right")
          $separatorRight.toggleClass('separator-right-dark', $(this).scrollTop() > $nav.height())

          var $promptItem = $('.prompt-item');
          $promptItem.toggleClass('prompt-item-dark', $(this).scrollTop() > $nav.height())

          var $shoppingList = $('.shopping-list')
          $shoppingList.toggleClass('shopping-list-dark', $(this).scrollTop() > $nav.height())
      	});
      });
    </script>
  </body>
</html>
