{% load staticfiles %}
{% include 'grocerymeals_app/base.html' %}
<title>GroceryMeals - Find Recipes</title>
<link rel="stylesheet" href="{% static 'grocerymeals_app/find_recipes.css' %}">
{% block body %}
  <h1 class="header-secondary f-50">Recipes with {{ingredients}}</h1>
  <div class="container">
    <div class="recipe-grid">
      {% for recipe in recipes %}
        <div class="recipe">
          <img class="recipe-image" src="{{recipe.image_url}}" alt="{{recipe.title}} Image">
          <h3 class="text-center my-3">{{recipe.title}}</h3>
          <a class="btn btn-secondary btn-block" href="/recipes/recipe/?id={{recipe.id}}">Check it out!</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
