{% load staticfiles %}
{% include 'grocerymeals_app/base.html' %}
<title>GroceryMeals</title>
<link rel="stylesheet" href="{% static 'grocerymeals_app/index.css' %}">
{% block body %}
  <section class="header">
    <div class="center-container text-center" style="width: 50%;">
      <h1 class="header-secondary mb-4 f-65">A Smarter Way to Shop</h1>
      <div class="cta-buttons">
        <button class="ghost-cta-button" onclick="document.querySelector('.about').scrollIntoView({behavior: 'smooth'});">Learn More</button>
        <a href="/products/" class="primary-cta-button">Try it out!</a>
      </div>
    </div>
  </section>
  <section class="about">
    <h1 class="header-primary f-50">About GroceryMeals</h1>
    <div class="text-center">
      <p class="about-main-description m-auto w-50">
        GroceryMeals is an online platform that gathers the best grocery prices and matches them with recipes you can make at home!
      </p>
    </div>
    <div class="about-cards">
      <div class="about-card">
        <div class="text-center">
          <img src="{% static 'img/icons/dollar.png' %}" class="about-card-icon">
        </div>
        <h3 class="header-primary">Best Prices</h3>
        <p class="about-card-description">
          GroceryMeals automatically gets the best grocery prices from your favorite stores and displays them for your picking!
        </p>
      </div>
      <div class="about-card">
        <div class="text-center">
          <img src="{% static 'img/icons/recipe.png' %}" class="about-card-icon">
        </div>
        <h3 class="header-primary">Amazing recipes</h3>
        <p class="about-card-description">
          GroceryMeals can match amazing and delicious recipes to whatever groceries that you would like to purchase. We can also provide you with recipes to make that include multiple specified ingredients.
        </p>
      </div>
      <div class="about-card">
        <div class="text-center">
          <img src="{% static 'img/icons/like.png' %}" class="about-card-icon">
        </div>
        <h3 class="header-primary">Completely Free!</h3>
        <p class="about-card-description">
          We have made GroceryMeals completely free, because finding the best deals that you can cook at home shouldn't come with any extra fees!
        </p>
      </div>
    </div>
    <div class="text-center">
      <a class="primary-cta-button" href="/how-to-use-grocerymeals/">How to use GroceryMeals</a>
    </div>
  </section>
  <section class="stores">
    <h1 class="header-primary f-50">Stores we use</h1>
    <p class="about-card-description text-center w-50 m-auto">
      These are the store brands that we grab out prices from! All of the products we display here you can purchase at one of these stores!
    </p>
    <div class="container py-5">
      <div class="stores-grid">
        <img src="{% static 'img/stores/Sprouts.png' %}" alt="Sprouts Logo" class="store-image">
        <img src="{% static 'img/stores/Safeway.png' %}" alt="Safeway Logo" class="store-image">
        <img src="{% static 'img/stores/Albertsons.png' %}" alt="Albertsons Logo" class="store-image">
        <img src="{% static 'img/stores/Smart and Final.png' %}" alt="Smart and Final Logo" class="store-image">
        <img src="{% static 'img/stores/Whole Foods.png' %}" alt="Whole Foods Logo" class="store-image">
      </div>
    </div>
  </section>
  <section class="social-media">
    <div class="social-media-container">
      <h3 class="header-secondary">Follow us on social media!</h3>
      <div class="social-media-icons-container">
        <a class="social-media-link" href="#">
          <img class="social-media-icon" src="{% static 'img/social-media/facebook.png' %}" alt="Facebook Icon" class="social-media-icon">
        </a>
        <a class="social-media-link" href="#">
          <img class="social-media-icon" src="{% static 'img/social-media/instagram.png' %}" alt="Instagram Icon" class="social-media-icon">
        </a>
        <a class="social-media-link" href="#">
          <img class="social-media-icon" src="{% static 'img/social-media/twitter.png' %}" alt="Twitter Icon" class="social-media-icon">
        </a>
        <a class="social-media-link" href="#">
          <img class="social-media-icon" src="{% static 'img/social-media/youtube.png' %}" alt="YouTube Icon" class="social-media-icon">
        </a>
        <a class="social-media-link" href="#">
          <img class="social-media-icon" src="{% static 'img/social-media/linkedin.png' %}" alt="LinkedIn Icon" class="social-media-icon">
        </a>
        <a class="social-media-link" href="#">
          <img class="social-media-icon" src="{% static 'img/social-media/pinterest.png' %}" alt="Pinterest Icon" class="social-media-icon">
        </a>
      </div>
    </div>
  </section>
  <section class="footer">
    <div class="text-center">
      <img src="{% static 'img/logos/grocerymeals.png' %}" alt="GroceryMeals Logo">
    </div>
    <div class="container">
      <div class="footer-grid">
        <div class="contact-container">
          <p class="footer-header">Contact</p>
          <div class="contact-link">
            <img src="{% static 'img/icons/arroba.png' %}" alt="Email Icon" class="contact-icon">
            <span class="contact-info">grocerymeals.team@gmail.com</span>
          </div>
          <div class="contact-link">
            <img src="{% static 'img/icons/telephone.png' %}" alt="Email Icon" class="contact-icon">
            <span class="contact-info">(925)-332-6127</span>
          </div>
        </div>
        <div class="extra-container">
          <p class="footer-header">Important Resources</p>
          <ul class="footer-links">
            <li class="footer-item">
              <a class="footer-link" href="/terms-of-service/">Terms of Service</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="/privacy-policy/">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="about-container">
          <p class="footer-header">About GroceryMeals</p>
          <p>
            GroceryMeals is a small tech startup started by Calix Huang, based in the East Bay Area, CA in the United States. This platform was built with HTML/CSS/Javascript, Python/Django, and other web frameworks such as jQuery and Bootstrap. GroceryMeals is hosted on Heroku/GitHub, using AWS technologies for storage and the DNS nameservers belong to Namecheap.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
