{% load staticfiles %}
{% include 'grocerymeals_app/base.html' %}
<title>GroceryMeals - Login</title>
<link rel="stylesheet" href="{% static 'grocerymeals_app/login.css' %}">
{% block body %}
  <h1 class="header-secondary f-50">Login</h1>
  <div class="text-center my-5">
    <form enctype="multipart/form-data" class="login-form m-auto" method="post">
      {% csrf_token %}
      <input type="text" name="username" class="login-input" placeholder="Username">
      <input type="password" name="password" class="login-input" placeholder="Password">
      <input type="submit" class="ghost-cta-button btn-block" value="Login">
    </form>
  </div>
{% endblock %}
