{% load staticfiles %}
{% include 'grocerymeals_app/base.html' %}
<title>GroceryMeals - {{product.formatted_title}}</title>
<link rel="stylesheet" href="{% static 'grocerymeals_app/product.css' %}">
{% block body %}
  <div class="container">
    <div class="product-container text-white">
      <div class="left">
        <div class="text-center">
          <img class="product-image" src="{{product.image_url}}" alt="{{product.formatted_title}} Image">
        </div>
        <h1 class="text-center mt-3">{{product.formatted_title}}</h1>
        <p><strong>Provider:</strong> {{product.provider}}</p>
        <p><strong>Price:</strong> {{product.price}}</p>
      </div>
      <div class="right">
        <div class="nutritional-data-container text-left">
          <h3 class="header-secondary">Nutritional Data</h3>
          <p><strong>Number of Servings:</strong> {{num_servings}}</p>
          <p><strong>Serving Size:</strong> {{serving_size}} grams</p>

          <p><strong>Total Fat:</strong> {{total_fat}} grams</p>
          <p><strong>Saturated Fat:</strong> {{saturated_fat}} grams</p>
          <p><strong>Cholesterol:</strong> {{cholesterol}} grams</p>
          <p><strong>Total Carbohydrates:</strong> {{total_carbohydrate}} grams</p>
          <p><strong>Dietary Fiber:</strong> {{dietary_fiber}} grams</p>
          <p><strong>Sugars:</strong> {{sugars}} grams</p>
          <p><strong>Protein:</strong> {{protein}} grams</p>
          {% if allergens %}
            <p>
              <strong>Contains:</strong>
              {% for allergen in allergens %}
                {{allergen}},
              {% endfor %}
            </p>
          {% endif %}
        </div>
        <div class="recipe-container px-5 my-5">
          <h3 class="header-secondary">Recipes with {{product.formatted_title}}</h3>
          <ol class="mt-3">
            {% for recipe in recipes %}
              <li class="mb-2"><a class="text-white" href="/recipes/recipe/?id={{recipe.id}}">{{recipe.title}}</a></li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
