{% load staticfiles %}
{% include 'grocerymeals_app/base.html' %}
<title>GroceryMeals - Products</title>
<link rel="stylesheet" href="{% static 'grocerymeals_app/products.css' %}">
{% block body %}
  <h1 class="header-secondary f-50">Seasonal Products</h1>
  <form enctype="multipart/form-data" class="product-search-form" method="post">
    {% csrf_token %}
    <div class="search-bar">
      {% if query %}
        <input class="search-bar-input" type="text" name="product" value="{{query}}" placeholder="Product Name">
      {% else %}
        <input class="search-bar-input" type="text" name="product" placeholder="Product Name">
      {% endif %}
      <input class="search-bar-submit" type="submit" value="Search">
    </div>
  </form>
  <div class="container">
    <div class="products-grid">
      {% for product in products %}
        <div class="product">
          <img src="{% static 'img/stores/' %}{{product.provider}}.png" alt="{{product.provider}} Logo" class="store-icon">
          {% if product.image_url == "Image Not Available" %}
            <img class="product-image" src="{% static 'img/stores/image-not-available.png' %}" alt="{{product.title}} image">
          {% else %}
            <img class="product-image" src="{{product.image_url}}" alt="{{product.title}} image" class="store-logo">
          {% endif %}
          <h3 class="text-center">{{product.title}}</h3>
          <div class="text-center mb-2">
            <small>{{product.price}}</small>
          </div>
          <a class="btn btn-secondary btn-block" href="{{product.original_link}}">View Original Product</a>
          <a href="/products/product/{{product.id}}" class="btn btn-secondary btn-block">View Product</a>
          <a class="btn btn-secondary btn-block" href="/recipes/find-recipes/?ingredients={{product.formatted_title}}">Find Recipes</a>
          <a class="btn btn-secondary btn-block" href="/shopping-list/add-item/?id={{product.id}}">Add to Shopping List</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
