{% load staticfiles %}
{% include 'grocerymeals_app/base.html' %}
<title>GroceryMeals - Recipes</title>
<link rel="stylesheet" href="{% static 'grocerymeals_app/recipes.css' %}">
{% block body %}
  <h1 class="header-secondary f-50">Recipes</h1>
  <form class="ingredient-search-form" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="search-bar">
      <input class="search-bar-input" type="text" placeholder="Ingredients (separated by spaces)" name="ingredients">
      <input class="search-bar-submit" type="submit" value="Find Recipe">
    </div>
  </form>
{% endblock %}
