{% include 'grocerymeals_app/base.html' %}
<title>GroceryMeals - {{title}}</title>
{% block body %}
  <img src="{{image_url}}" alt="{{title}} Image">
  <h1>{{title}}</h1>
  <h3>Ingredients</h3>
  <ul>
    {% for ingredient in ingredients %}
      <li>{{ingredient.amount}} {{ingredient.metric}} {{ingredient.name}}</li>
    {% endfor %}
  </ul>

  {% if instructions %}
    <h3>Instructions</h3>
    <ol>
      {% for instruction in instructions %}
        <li>{{instruction}}</li>
      {% endfor %}
    </ol>
  {% endif %}
{% endblock %}
