{% load staticfiles %}
{% include 'grocerymeals_app/base.html' %}
<title>GroceryMeals - Shopping List</title>
<link rel="stylesheet" href="{% static 'grocerymeals_app/shopping_list.css' %}">
{% block body %}
  <h1 class="header-secondary">Shopping List</h1>
  {% if products %}
    <div class="container my-5">
      <div class="shopping-list-container">
        {% for product in products %}
          <div class="product">
            <img class="w-100" src="{{product.image_url}}" alt="{{product.title}} Image">
            <img style="width: 150px; display: block; text-align: center;" src="{% static 'img/stores/'%}{{product.provider}}.png" alt="">
            <a href="/products/product/{{product.id}}">{{product.formatted_title}}</a>
            <span>{{product.price}}</span>
            <a class="x" href="/shopping-list/delete-item/?id={{product.id}}">&times;</a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="text-center">
      <p class="text-white w-50 m-auto">There are no products in your shopping list yet!</p>
    </div>
  {% endif %}
{% endblock %}
