/* PRODUCT STYLES */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

.product {
  background-color: lightblue;
  padding: 30px;
}

.product-image {
  width: 100%;
}

/* SEARCH BAR STYLES */
.search-bar {
  display: grid;
  grid-template-columns: 75% 25%;
  margin: 50px 75px;
}

.search-bar-input {
  padding: 15px;
  font-size: 25px;
}

.search-bar-submit {
  font-size: 25px;
}
