body {
  height: 100vh;
  overflow: hidden;
}

/* SEARCH BAR STYLES */
.search-bar {
  display: grid;
  grid-template-columns: 75% 25%;
  margin: 50px 75px;
  border-radius: 4px;
  box-shadow: 0 3px 7.5px rgba(0,0,0,.15);
}

.search-bar *:focus, *:active {
  outline: none;
}

.search-bar-input {
  padding: 15px 20px;
  font-size: 25px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-bar-submit {
  font-size: 25px;
  color: white;
  background-color: lightgreen;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all .2s;
}

.search-bar-submit:hover {
  background-color: var(--color-primary);
}
