body {
  height: 100vh;
  overflow: none;
}

.register-form {
  width: 500px;
}

.register-input {
  background-color: transparent;
  border: 1px solid white;
  padding: 15px;
  color: white;
  border-radius: 5px;
  transition: all .2s;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.register-input::placeholder {
  color: white;
}

.register-input:focus {
  outline: none;
  box-shadow: 0 2px 10px rgba(0,0,0,.15);
}
